.coworcer {
  display: flex;
  height: 50px;
  align-items: center;
}
img {
  padding: 0 10px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
}
.name {
  display: flex;
  width: 200px;
}
button {
  display: flex;
  justify-self: flex-end;
}
